@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Righteous&display=swap');
@import url('https://fonts.cdnfonts.com/css/magic-school-one-2');
@import url('https://fonts.cdnfonts.com/css/wizard-world');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/counter-flipper');
@import url('https://fonts.cdnfonts.com/css/freebooter');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    user-select: none;
}

body{
    color: #bfbfbf;
    background-color: rgb(255, 255, 255);
    font-family: "Wizard World", sans-serif;
}

header{
    width: 100%;
    height: 83px;
    background: #242633;
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
}
header img{
    width: 90px;
    height: 90px;
}
nav a{
    color: rgb(243, 243, 243);
    width: 15px;
    padding: 20px;
    transition: .5s;
}
header nav a:hover{
    border-bottom: 1px solid rgb(255, 137, 69);
}
#prims{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 4vw;
    background-image: url(/img/fundoron.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(180deg, #0001, #323657);
}

#prims aside{
    font-size: 80px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Freebooter', sans-serif;
}



#prims aside button{
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    background: transparent;
    width: 170px;
    padding: 20px;
    color: azure;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s;
}
#prims aside button:hover{
    background-color: white;
    color: #323657;
    box-shadow: 0px 10px 40px -12px #ffffff;

}

#prims article{
    width: 25%;
}


#about{
    font-family: 'Freebooter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 4vw;
    background-image: url(/img/stars.png), --webkit-gradient(linear, left top, left bottom, from(#15111d), color-stop(121.35%, #323657));
    background-image: url(/img/stars.png), --moz-linear-gradient(top, #15111d 0, #323657 121.35%);
    background-image: url(/img/stars.png), linear-gradient(180deg, #323657, #15111d);
    /* border-image: fill 0 linear-gradient(180deg, #323657, #15111d); */
    background-size: cover;
    background-repeat: no-repeat;
}
#about h1, h2{
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 32px;
    font-family: 'Freebooter', sans-serif;
}

#about p{
    font-size: 30px;
}

.paragrafo{
    margin-bottom: 32px;
}

#duvidas{
    height: 105vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 80px;
    background: --webkit-gradient(linear, left top, left bottom, from(#15111d), color-stop(121.35%, #323657));
    background: --moz-linear-gradient(top, #15111d 0, #323657 121.35%);
    background: linear-gradient(180deg, #15111d, #15111d 121.35%);
    border-image: fill 0 linear-gradient(180deg,#15111d);
    background-size: cover;
    background-repeat: no-repeat;
}

#duvidas aside{
    font-size: 80px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Freebooter', sans-serif;
}

#duvidas aside button{
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    background: transparent;
    width: 170px;
    padding: 20px;
    color: azure;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s;
}
#duvidas aside button:hover{
    background-color: white;
    color: #323657;
    box-shadow: 0px 10px 40px -12px #ffffff;

}

#image-main{
    width: 420px;
    height: 420px;
    border-radius: 60px;
}

footer{
    background: linear-gradient(180deg, #24202e, #15111d 121.35%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    padding: 40px 50px;
    font-family: "Josefin Sans", sans-serif;
}


footer .cont-footer{
    width: 100%;
    height: 460px;
    padding: 50px;
    color: #7575759e;
    border: 1px solid rgb(123, 123, 123);
    position: relative;
    bottom: 40px;
}
footer .cont-footer .links-footer{
    display: flex;
    align-items: center;
    width: 15%;
    height: 120px;
    padding: 0px 0px 12px;
    gap: 5px;
}

footer button{
    font-size: 20px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #242633;
    transition: .5s;
}
footer button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 137, 69, 0.763);
}


footer .cont-footer img{
    width: 200px;
    height: 200px;
}
footer .cont-footer .upper-footer{
    width: 100%;
    height: 120px;
    padding: 0px 0px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-divider hr{
    color: #3536436e;
    width: 100%;
    margin: 5px 0px;
}

.copy p{
    margin: 45px 0px;
}

.lower-footer p{
    text-align: left;
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    padding: 0px 0px 12px;
    gap: 5px;
    margin-bottom: 15px; 
    color: #9fa1ad;
}




@media only screen and (max-width: 600px) {
    header{
        justify-content: center;
        position: absolute;
    }
    header nav{
        display: none;
    }
    header img{
        width: 150px;
        height: 150px;
        padding: 10%;
    }
    main #prims{
        background-image: url(/img/hp-f7-ron-tent-homepage-mobile-hero.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        padding: 10vw;
    }
    main #about{
        flex-direction: column;
        padding: 10vw;
    }
    main #about img{
        margin: 0;
        width: 100%;
        bottom: 0;
    }
    main #about #main{
        width: 100%;
        height: fit-content;
        margin-top: 7vh;
    }

    main #main img{
        margin: 0;
    }

    main #about h1{
        font-size: 8vw;
        line-height: 5vh;
        margin-bottom: 2vh;
    }
    main #about p{
        font-size: 20px;
    }
    main #about .buttons a{
        font-size: 3vw;
        border-radius: 8px;
    }

    main #duvidas{
        padding: 10vw;
        margin-top: -5vh;
        flex-direction: column-reverse;
        
    }
    main #duvidas #image-main{
        display: none;
    }
    main #duvidas h2{
        font-size: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }
    .duvida h3{
        font-size: 3vw;
        border: 2px solid rgba(200, 126, 82, 0.641);
        border-radius: 8px;
        cursor: pointer;
        padding: 15px;
    }
    .duvida.ativa p{
        font-size: 3vw;
    }

    footer h2{
        font-size: 2vw;
    }
    footer .cont-footer{
        flex-direction: column;
        padding: 10px;
        height: 450px;
        position: relative;
        bottom: 0;
    }
    footer .upper-footer{
        flex-direction: column;
        width: 100%;
        height: 40px;
    }
    footer .upper-footer img{
        width: 75px;
        height: 75px;
    }
    footer .links-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer button{
        font-size: 10px;
        width: 30px;
        height: 30px;
    }
    footer .lower-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-size: 10px;
    }
    .copy{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .copy p{
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: right;
        padding: 20px;
    }

    .text p{
        text-align: left;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    footer nav{
        display: none;
    }
}